<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row" style="margin-top: 20px">
        <div class="col-md-6 offset-md-3">
          <div class="container text-center">
            <img src="../../../assets/add-user.png" width="80" height="80">
          </div>
          <h1 class="text-center">Registre la pelicula</h1>
          <form (ngSubmit)="formSubmit()">
  
            <!-- CASILLA PARA EL USUARIO-->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Titulo de la pelicula</mat-label>
              <input required [(ngModel)] = "userpelicula.aIdTitulo" name="aUserUsuario" matInput placeholder ="Digite el username de usuario" type="text">
              <mat-hint>El username debe ser unico</mat-hint>
            </mat-form-field>
  <!-- CASILLA PARA EL NOMBRE USUARIO-->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Categoria de la pelicula</mat-label>
              <input required [(ngModel)] = "userpelicula.aCategoria" name="aNombreUsuario" matInput placeholder ="Digite el nombre del usuario" type="text">
            </mat-form-field>
  <!-- BOTONES-->
            <div class="container text-center">
              <button  mat-raised-button color="primary">Guardar</button>
              <button type="reset"mat-raised-button color="accent">Limpiar</button>
            </div>
  
  
  
  
          </form>
  
  
  
        </div>
      </div>
    </div>
  </div>

  <app-lista-pelicula></app-lista-pelicula>
